<div class="container p-4 mt-5 bg-gradient-warm" style="border-radius: 0.5em">
  <h3 class="font">So, what is snowday.today?</h3>
  <p>snowday.today is a snowday predictor service - basically, you enter a location and our algorithms will decide whether your area will experience a snowday tomorrow.</p>
  <hr>
  <h3 class="font">How are snowdays predicted? (Algorithm explanation)</h3>  
  <p>Snowdays are predicted using a variety of metrics supplied by weather APIs. Data on snowday percentages and locations is currently being collected to train an AI to accurately predict snowdays, far more accurately than any human algorithm could predict.</p>
  <hr>
  <h3 class="font">How can I help?</h3>
  <p>The easiest way to help is to report whenever you are having a snowday.</p>
</div>