.font {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  color: white;
}

.font-thin {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  color: white;
}

.font-small {
  font-family: Montserrat, sans-serif;
  font-size: 0.5em
}

.font-placeholder {
  font-family: 'Source Code Pro', monospace;
}