<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

<div class="container mt-3" [@fadeIn]="fadeIn">
  <app-nav></app-nav>
  <h4 class="font-thin">Predict snowdays in your area!</h4>
  <div [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="container bg-gradient-chill p-3 mt-5" style="border-radius:0.5em">
    <a href="https://twitter.com/intent/tweet?screen_name=TodaySnowday&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-size="large" data-text="Just checked the chance of a snowday tomorrow with https://snowday.today!" data-show-count="false">Tweet to @TodaySnowday</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
  <p class="font-small m-5 text-center">snowday predictor, predict snowdays, chance of snowday, snowdays, is it a snowday</p>
</div>