$gradients: () !default;
$gradients: map-merge((
    chill: linear-gradient(135deg, #09e485 0%,#0052df 100%),
    warm: linear-gradient(135deg, #FD803F 0%,#F2CD48 100%),
    hot: linear-gradient(135deg, #F9445A 0%,#FD803F 100%),
    cold: linear-gradient(135deg, #8019C6 0%,#2F93CC 100%),
    dark: linear-gradient(135deg, #0000e6 0%, #000066 100%),
    fun: linear-gradient(135deg, #0052df 0%, #8019C6 100%)
), $gradients);

